<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429813359572-4i14eu2j2d1j5tae335ng5gstq9ij48u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429813359572-4i14eu2j2d1j5tae335ng5gstq9ij48u</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDXJ38ZRVSGV1RqQ9lbRW8S6Hfh40hmA</string>
	<key>GCM_SENDER_ID</key>
	<string>429813359572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.san.FirebaseChating</string>
	<key>PROJECT_ID</key>
	<string>chatapps-15a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapps-15a1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:429813359572:ios:1959e4f51502a260</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chating-c00e6.firebaseio.com/</string>
</dict>
</plist>
